<?xml version="1.0"?>
<configuration>
  <!-- Configure uploads for this sample -->
  <location path="">
    <slickUpload>
      <uploadParser handleRequests="true" />
      <uploadStreamProvider provider="Custom" location="~/CustomUploadStreamProvider/Files/" type="SamplesCS.CustomUploadStreamProvider.ZipUploadStreamProvider, SamplesCS" />
    </slickUpload>
    <system.web>
      <httpRuntime maxRequestLength="1048576" executionTimeout="300"/>
    </system.web>
  </location>
</configuration>
