<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework"
													publicKeyToken="96d09a1eb7f44a77"
													culture="neutral" />
				<bindingRedirect oldVersion="2.4.3.0"
												 newVersion="2.4.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework"
													publicKeyToken="96d09a1eb7f44a77"
													culture="neutral" />
				<bindingRedirect oldVersion="2.4.8.0"
												 newVersion="2.4.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Rhino.Mocks"
													publicKeyToken="0b3305902db7183f"
													culture="neutral" />
				<bindingRedirect oldVersion="3.5.0.2" newVersion="3.6.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Rhino.Mocks"
													publicKeyToken="0b3305902db7183f"
													culture="neutral" />
				<bindingRedirect oldVersion="3.5.0.1337" newVersion="3.6.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="StructureMap"
														 publicKeyToken="e60ad81abae3c223"
														 culture="neutral" />
				<bindingRedirect oldVersion="2.5.2.0"
													  newVersion="2.5.4.0"/>
			</dependentAssembly>

		</assemblyBinding>
	</runtime>
</configuration>